absl-py==0.11.0
actionlib==1.12.1
aiohttp==3.7.4
angles==1.9.12
argh==0.26.2
async-timeout==3.0.1
attrs==20.3.0
base-local-planner==1.16.7
beautifulsoup4==4.9.3
blinker==1.4
bondpy==1.8.5
box2d-py==2.3.8
brotlipy==0.7.0
cachetools==4.2.1
camera-calibration-parsers==1.11.13
camera-calibration==1.15.0
catkin-pkg==0.4.23
catkin-tools==0.6.1
catkin==0.7.29
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.2
controller-manager-msgs==0.18.3
controller-manager==0.18.3
cryptography==2.9.2
cv-bridge==1.13.0
cycler==0.10.0
cython==3.0a6
cytoolz==0.11.0
dask==2020.12.0
decorator==4.4.2
defusedxml==0.6.0
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
distro==1.5.0
docker-pycreds==0.4.0
docutils==0.16
dynamic-reconfigure==1.6.3
easyprocess==0.3
fasteners==0.16
future==0.18.2
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
gitdb==4.0.5
gitpython==3.1.14
glfw==2.0.0
google-auth-oauthlib==0.4.1
google-auth==1.24.0
gql==0.1.0
graphql-core==3.1.3
grpcio==1.33.2
gym-super-mario-bros==7.3.2
gym==0.18.0
idna==2.10
image-geometry==1.13.0
imagecodecs==2020.5.30
imageio==2.9.0
importlib-metadata==3.7.0
interactive-markers==1.11.5
joint-state-publisher-gui==1.12.15
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.3.0
laser-geometry==1.6.7
lxml==4.6.2
markdown==3.3.4
matplotlib==3.3.2
message-filters==1.14.10
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
moveit-commander==1.0.7
moveit-ros-planning-interface==1.0.7
moveit-ros-visualization==1.0.7
mujoco-py==2.0.2.13
multidict==5.1.0
nes-py==8.1.6
networkx==2.5
numpy==1.19.2
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
olefile==0.46
opencv-python==4.5.1.48
osrf-pycommon==0.1.10
pathtools==0.1.2
pillow==8.1.0
pip==20.3.3
promise==2.3
protobuf==3.14.0
psutil==5.7.2
pyasn1-modules==0.2.7
pyasn1==0.4.8
pybullet==3.0.8
pycparser==2.20
pydot==1.4.1
pyglet==1.5.0
pyjwt==2.0.1
pyopenssl==19.1.0
pyparsing==2.4.7
pysocks==1.7.1
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytransform3d==1.5
pyvirtualdisplay==1.3.2
pywavelets==1.1.1
pyyaml==5.3.1
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
requests-oauthlib==1.3.0
requests==2.25.1
resource-retriever==1.12.6
rosbag==1.14.10
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosdoc-lite==0.2.9
rosgraph==1.14.10
roslaunch==1.14.10
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.10
rosmake==1.14.9
rosmaster==1.14.10
rosmsg==1.14.10
rosnode==1.14.10
rosparam==1.14.10
rospkg==1.2.9
rospy==1.14.10
rosserial-arduino==0.8.0
rosserial-client==0.8.0
rosserial-python==0.8.0
rosservice==1.14.10
rostest==1.14.10
rostopic==1.14.10
rosunit==1.14.9
roswtf==1.14.10
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui-py==0.5.2
rqt-gui==0.5.2
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.17.2
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.7.2
rviz==1.13.15
scikit-image==0.17.2
scipy==1.6.0
sensor-msgs==1.12.8
sentry-sdk==0.20.3
setuptools==51.0.0.post20201207
shortuuid==1.0.1
sip==4.19.13
six==1.15.0
smach-ros==2.0.1
smach==2.0.1
smclib==1.8.5
smmap==3.0.5
soupsieve==2.1
srdfdom==0.5.2
subprocess32==3.5.4
tensorboard-plugin-wit==1.8.0
tensorboard==2.4.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf==1.12.1
tifffile==2020.12.8
toolz==0.11.1
topic-tools==1.14.10
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado==6.1
tqdm==4.55.2
turtlebot3-example==1.2.5
turtlebot3-teleop==1.2.5
typing-extensions==3.7.4.3
urdfdom-py==0.4.5
urllib3==1.26.3
wandb==0.10.20
watchdog==0.10.4
werkzeug==1.0.1
wheel==0.36.2
xacro==1.13.9
yarl==1.6.3
zipp==3.4.0